body{
    margin: 0;
    height: 100%;
    background-color:#0e1a2e;
}

#strip{
    position: absolute;
    right: 10%;
    left: 10%;
    bottom: 0px;  
    top: 0px;
    padding: 50px;
    background-color:#16294a;
}
#info{
    position: absolute;
    border: 3px solid;
    height: 200px;
    min-width: 350px;
    top: 5%;
    border-radius: 20px;
    border-color: #faac2f;
    background-color: #223657;
    padding: 50px 5%;
}
.macro{
    height: 100px;
    width: 150px;
    border: 3px solid;
    /* float: left; */
    padding: 33px;
    margin: 0px 3%;
    border-radius: 15px;
    background-color:#16294a;
    border: none;
    text-align:center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    /* border: 3px solid; */
}

.macro-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* border: 3px solid; */
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* border: 3px solid; */
}

.log-container{
    display:absolute;
    height: 250px;
    width: 600px;
    border-radius: 15px;
    padding: 30px;
    border: 3px solid #faac2f;
    background-color: #223657;
    /* border: 3px solid; */
}

.calc-container{
    display:flex;
    justify-content:center;
    align-items:center;
    /* border: 3px solid; */
}

.entry-container{
    display:flex;
    justify-content:center;
    align-items:center;
}

.form-container{
    display:absolute;
    height: 600px;
    width: 600px;
    border-radius: 15px;
    padding: 30px;
    border: 3px solid #faac2f;
    background-color: #223657;
}

h3, .label{
    color: rgb(255, 255, 255);
    font-family:Sans-serif; 
    display: block;
    text-align:center;
    margin: 0;
}

h3{
    font-size: 28px;
}

.label{
    font-size: 18px;
    margin-top: 30px;
}

button{
    background-color:#406399;
    border-color:#0e1a2e; 
    border: 5px solid;
    border-radius: 20px;
    min-width:200px;
    margin: 0px 20px;
    padding: 20px;
    font-size: 20px;
    color: #0e1a2e;
    font-family:Sans-serif;
    font-weight: 800;
    transition: background-color .5s ease;
}

button:hover{
    background-color:#0e1a2e;
    border-color: #faac2f;
    color:#faac2f;
    cursor: pointer;
}

button:active{
    background-color:#406399;
}

#log{
    border:3px solid blue;
    width:100%;
}

.entryOdd{
    background-color:#406399;
    display: flex;
}

.entryEven{
   background-color: #223657;
   padding: 15px;
}

.calcInput{
    display:flex;
    margin: 20px 40px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    background-color: #406399;
    color: white;
    transition: background-color .5s ease;
    font-weight: 600;
}
.calcInput:hover{
    background-color:white;
    color:#0e1a2e;
}
input::placeholder{
    color:#0e1a2e;
}

.logInput{
    display:flex;
    margin: 30px 40px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    background-color: #406399;
    color: white;
    transition: background-color .5s ease;
    font-weight: 600;
}

.logInput:hover{
    background-color:white;
    color:#0e1a2e;
}

.customRadio input[type="radio"]{
    display: none;
}

.customRadio {
    position: relative;
    padding-left: 100px;
    cursor: pointer;
    display: block;
}

.radioIndicator {
    position: absolute;
    left: 50px;
    width: 20px;
    height: 20px;
    background-color: #406399;
    border-radius: 50%;
    transition: background-color .5s ease;
}

.customRadio{
    font-weight:800;
    color: white;
    font-family: Sans-serif;
}
.customRadio:hover .radioIndicator{
    background-color:white;
    cursor:pointer;
}

.customRadio input[type="radio"]:checked + .radioIndicator{
    background-color: #faac2f;
}

.radLab{
    margin: 0px 32px;
}

h4{
    margin-left: 30px;
    font-weight:800;
    color: #faac2f;
    font-family: Sans-serif;
}

#goals{
    margin-left: 80px;
}
#exercise{
    margin-left: 40px;
}
#radios{
    display: flex;
}
.textsub{
    display: flex;
}
.subbut{
    margin-top:80px;
    border-radius: 50%;
    transition: background-color .5s ease;
}
.subbut:hover{
    background-color:#16294a;
}

.hidden{
    display: none;
}

.entryText{
    border:3px solid;
    width: 300px;
}
