body {
    background-color: #414141; /* Replace with your preferred color */
  }

.custom-navbar {
    background-color: #313131; /* Replace with your preferred color */
    color: #ffffff; /* Text color */
}